h1 {
    font-family: 'Prata', serif;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

h5 {
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption {
    text-shadow: 2px 2px 4px #000000;
}

img {
    width: 100%;
}

.place-info {
    padding: 5px 10px;
}

.navbar {
    color: #FFFFFF;
}

.container {
    margin: auto;
}

#city-name-container {
    color: black;
    margin-top: 10px;
    margin: 10 auto;
    font-size: 30px;
    font-family: 'Prata', serif;
}

section {
    background-color: #e9ecef;
    padding-top: 20px;
    padding-bottom: 20px;
}

#search-bar-form {
    margin: 0 auto;
}

#search-bar {
    width: 80%;
}

#search-button {
    width: 20%;
    background-color: white;
}

#dropdownMenuButton {
    margin-top: 10px;
    width: 100%;
}

.day-weather {
    width: 15%;
    border: 1px solid #777777;
}

#weather-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#weather {
    margin-top: 10px;
}

#map-display {
    margin-top: 10px;
    margin-bottom: 10px;
}

#place-list {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

#map {
    height: 300px;
}

.selected-place {
    background-color: #e9ecef;
}

/* unvisited link */

.place-name:link {
    color: black;
}

/* visited link */

.place-name:visited {
    color: black;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}
   
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

@media screen and (max-width: 400px) {
    .day-weather {
        font-size: 12px;
    }
} 